<!-- <ul>
  <li *ngFor= "let user of users">
    {{ user }}
    <app-pepe [nameUser]='user'></app-pepe>
  </li>
</ul> -->

<!-- <ul>
  <app-pepe *ngFor='let user of users' [nameUser]='user'></app-pepe>
</ul> -->

<!-- <ul>
  <li *ngIf= 'activated'>
    esta activado
  </li>
</ul> -->


<!-- <div>
  <p>name: {{name}}</p>
  <p>calle: {{address.street}}</p>
  <p>ciudad: {{address.city}}</p>
  <ul>
    <li *ngFor='let hobbie of hobbies'>
      {{hobbie}}
    </li>
  </ul>
</div> -->

<form (submit)='addUser(newUser)'>
  <input type="text" #newUser>
  <button>crear usuario</button>
</form>

<ul>
  <li *ngFor='let user of users'>
    {{user}} <button (click)='deleteUser(user)'>x</button>
  </li>
</ul>

<button (click)='sayHello()'>click me!</button>


<div>
  <form>
    <input type="text" name="name" [(ngModel)]='name'>
    <br>
    <input type="text" name="age" [(ngModel)]='age'>
  </form>
  name: {{name}}
  <br>
  age: {{age}}
  <hr>

  <div *ngFor='let post of posts'>
    <h3>{{post.title}}</h3>
    <p>{{post.body}}</p>
  </div>

</div>